body{
    margin:0px;
    /*background-image: url("/static/image/bg.jpg");
    background-size: cover;*/
    /*background-color: white;*/

}

.navbar-brand{
    padding-left:2px;
    font-size: 30px;
    font-family: Calibri;
}
a:hover {
    /*font-family: 'Montserrat', sans-serif;*/
    color:black;
    text-decoration: none;
}
#username{
    color: white;
}
.global-nav-user{
    color: white;
    float:right;
    margin-right: 10px;
}

.col-10{
    margin-left: auto;
    margin-right: auto;
    color: #000a44;
}

.carousel-inner img {
      width: 100%;
      height: 100%;
}

.hot-topic {
    display: inline-block;
    max-block-size:100%;
    padding-right: 20px;
    padding-bottom: 20px;
}

.hot-topic-father a:hover {
    color: #fff888;
    font-family: Calibri, cursive, sans-serif;

}

.hot-topic-father {
    width: 100%;
    text-align: left;
    font-family: Calibri, cursive, sans-serif;


}

.content-createDis{
    background-color: #f4f4f4;
    height: 370px;
    padding-top: 20px;
    margin: 0 0 0 16%;
}

.text-createDis{
    width: 100%;
    margin:3.3% 0 0 0;
    height: 10rem;
    padding: 0 0 0 2%;
    word-wrap: break-word;
    border-radius: 4px;
    border: 1px;
    color: #5c5a5d;
    font-size: 16px;
    background-color: #fff;
    line-height: 1rem;
    flex-wrap: wrap;
    outline: none;
}

.fas{
    width: 2%;
}

.btn{
    padding: 0;
    height: 2rem;
    width:50px;
    background-color: #fff;
}

.content-createDis-hint{
    /*margin-top: 65px;*/
    font-size: 1.5rem;
    padding: 0 0 1rem 0;
}

.box{
    background-color: rgba(180,180,180,0.3);
    padding: 20px ;
}

/*The buttons used to create discussion*/
.content-createDis-btn{
    /*padding: 0 0 2rem 2%;*/
    border: 0;
}
.content-createDis-btn-emotion{
    margin-left: 2%;
}
.content-createDis-btn-timer{
    margin-left: 2%;
}
.content-createDis-btn-lock{
    margin-left: 2%;
}


.content-createDis-btn-publish{
    font-size: 14px;
    background-color: #002752;
    width: 5rem;
    float: right;
}


.content-changeTags{
    font-size: 1.5rem;
    background-color: rgba(180,180,180,0.3);
    height: 200px;
    padding-top: 5px;
    width: 100%;
    color: #000a44;
}


.content-changeTags-info{
    vertical-align: center;
    text-align: center;
    display: inline-block;
    color: black;
    width: 30%;
}

#post-container{
    margin-top: 50px;
    padding-left: 15%;
    width:100%;
    background-color: rgba(180,180,180,0.3);
}

#post-image{
    width: 300px;
    height: 150px;
    background-image: url("/static/image/bg.jpg")
}

mark{
    background-color: #4e555b;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
    font-family: Calibri;
}

button:hover{
    background-color: #b0aaaf;
    color: black;
    font-weight: bold;
}

.post-imgs img{
    margin: 15px 1% 10px 1%;
    width: 10%;
    height: 100px;


}


.post-imgs img:hover{
    transform: scale(1.5);
             -webkit-transform: scale(1.5); /*Safari 和 Chrome*/
             -moz-transform: scale(1.5); /*Firefox*/
             -ms-transform: scale(1.5); /*IE9*/
             -o-transform: scale(1.5); /*Opera*/
}

.post-tags{
    margin: 10px 0 5px 0;
    font-size: 20px;
    display: none;
}
.post-tags span{
    display: inline-block;
    width: 30%;
    text-align: center;
}

.post-tags label{
    line-height: 28px;
    vertical-align: center;
}

.post-tags input{
    width:10%;
    height: 28px;
}
.main-tag-choose-o{
    display: inline-block;
    padding: 5px;

}

.main-tag-choose-i{
    user-select: none;
    cursor: pointer;
}