/* ==========================================================================
   Project Intrigued profile page css
   ==========================================================================
   * Author Name: Gurugautham Anandakumar */
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");			/*bootstrap 3.3.2 */
@import url("https://use.fontawesome.com/releases/v5.7.0/css/all.css");		/* Font-awesome 5.7.0*/	/* Color of common Elements */
@import url("http://fonts.googleapis.com/css?family=Montserrat:400,700");

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, fieldset, form, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font:unset;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ul{
    list-style: none;
}

body {
    line-height: 1;
    background-color: rgba(180,180,180,0.3);
}

/* ==========================================================================
   Base Styles
   ========================================================================== */
html, body {
  overflow-x: hidden;
  text-align: left;
  -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
 -webkit-text-size-adjust: 100%;
}

/* ------------------------------------------------------------------- */
/* Typography
---------------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
  color: #000a44;
  letter-spacing: 1px;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
}

h1 { font-size: 30px; line-height: 54px; }
h2 { font-size: 24px; line-height: 48px; }
h3 { font-size: 22px; line-height: 44px; }
h4 { font-size: 18px; line-height: 36px; }
h5 { font-size: 16px; line-height: 28px; }
h6 { font-size: 14px; line-height: 24px; }

p {
  line-height: 24px;
  margin: 0;
  font-size: 14px;
  letter-spacing: 1px;
}
p img { margin: 0; }
p.lead { font-size: 21px; line-height: 27px; color: #555;  }

em { font-style: italic; }
strong { font-weight: 700; color: #333; }
small { font-size: 80%; }

/* ------------------------------------------------------------------- */
/* Links
---------------------------------------------------------------------- */
a {
  color: #fff;
  text-decoration: none;
  outline: 0;
  -webkit-transition:0.5s all ease;
  -moz-transition:0.5s all ease;
  -o-transition:0.5s all ease;
  transition:0.5s all ease;
}

a:hover,
a:focus,
a:active,
a.active {
  text-decoration: none;
  outline: 0;
  -webkit-transition:0.5s all ease;
  -moz-transition:0.5s all ease;
  -o-transition:0.5s all ease;
  transition:0.5s all ease;
}

p a, p a:visited { line-height: inherit; }


/* ==========================================================================
   Navbar Styles
   ========================================================================== */
.navbar-brand{
    padding-left:2px;
    font-size: 30px;
}
.global-nav-user{
    color: white;
    float:right;
    margin-right: 10px;
}

/* ==========================================================================
   Notifications Page
   ========================================================================== */
.details{
  padding: 20px 0px 20px 0px;
}

.details{
  padding: 15px;
}
.details .content-box h4 {
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 32px;
    color: #000a44;
}

.notifications{
  padding: 20px 0px 50px 0px;
}

.notifications ul li {
 line-height: 0px;
 background-color: white;
 padding: 0;
}
.notifications ul li .media {
 border-bottom: 1px solid #e0e9ed;
 padding: 21px;
 background: #fff;
 width: 100%;
}
.notifications ul li .media img {
 max-width: 46px;
 max-height: 46px;
}
.media_body {
 margin-left: 20px;
 flex: 1;
}
.notifications ul li .media .media_body p {
 font-size: 16px;
 color: #4e555b;
 margin-top: 10px;
 line-height: 1;
}
.notifications ul li .media .media_body h6 {
 font-size: 14px;
 color: #4e555b;
 padding-top: 6px;
 float: left;
 line-height: 0;
}
.notifications ul li .media .media_body .btn_group {
 float: right;
 line-height: 1;
 padding-top: 5px;
}
.notifications ul li .media .media_body .btn_group a.kafe-btn-mint {
 text-align: center;
 min-width: 70px;
 padding: 7px 15px;
 display: inline-block;
}
.notifications ul li .media .media_body .btn_group a:hover {
 color: #fff !important;
}
.notifications ul li .media .media_body p span.emp{
 color: #0fc19e !important;
}

@media (max-width: 768px){
	.notifications ul li .media .media_body .btn_group {
	 float: left !important;
	 line-height: 1;
	 padding-top: 5px;
	}
}