body{
    margin:0;
    background-color: rgba(180,180,180,0.3);
}

.post-content{
    background-color: white;
    padding: 50px 50px;
    border-radius: 5px;
}

.content-createDis{
    background-color: #f4f4f4;
    height: 370px;
    padding-top: 20px;
    margin: 0 0 0 16%;
}

.text-createDis{
    width: 100%;
    height: 50%;
    margin:0;
    word-wrap: break-word;
    border-radius: 5px;
    border: 1px;
    color: #5c5a5d;
    font-size: 16px;
    background-color: #fff;
    line-height: 1rem;
    flex-wrap: wrap;
    outline: none;
}


.btn{
    padding: 0;
    height: 2rem;
    width:5%;
    background-color: #fff;
}

.content-createDis-hint{
    /*margin-top: 65px;*/
    font-size: 1.5rem;
    padding: 0 0 1rem 0;
}

.box{
    margin: 10px;
    background-color: rgba(180,180,180,0.3);
    padding: 20px ;
    padding-bottom: 40px ;
}

/*The buttons used to create discussion*/
.content-createDis-btn{
    padding: 0;
    border: 0;
}
.content-createDis-btn-emotion{
    margin-left: 2%;
}
.content-createDis-btn-timer{
    margin-left: 2%;
}
.content-createDis-btn-lock{
    margin-left: 2%;
}


.content-createDis-btn-publish{
    font-size: 14px;
    background-color: #002752;
    width: 5rem;
    margin-left: 58%;
}

.liked{
    background: #a879ff!important;
}