/* ==========================================================================
   Project Intrigued profile page css
   ==========================================================================
   * Author Name: Gurugautham Anandakumar */

@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");		/*bootstrap 3.3.7 */
@import url("https://use.fontawesome.com/releases/v5.7.0/css/all.css");		/* Font-awesome 5.7.0*/	/* Color of common Elements */
@import url("http://fonts.googleapis.com/css?family=Montserrat:400,700");

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, fieldset, form, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font:inherit;
  vertical-align: baseline;
}

.hot-topic {
    display: inline-block;
    max-block-size:100%;
    padding-right: 20px;
    padding-bottom: 20px;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
    line-height: 1;
    background-color: #ffffff;
}

/* ==========================================================================
   Base Styles
   ========================================================================== */
html, body {
  overflow-x: hidden;
  text-align: left;
  -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
}

/* ------------------------------------------------------------------- */
/* Typography
---------------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  color: #2C3E50;
  letter-spacing: 1px;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
}

h1 { font-size: 30px; line-height: 54px; }
h2 { font-size: 24px; line-height: 48px; }
h3 { font-size: 22px; line-height: 44px; }
h4 { font-size: 18px; line-height: 36px; }
h5 { font-size: 16px; line-height: 28px; }
h6 { font-size: 14px; line-height: 24px; }

p {
  font-family: 'Varela Round', sans-serif;
  line-height: 24px;
  margin: 0;
  font-size: 14px;
  letter-spacing: 1px;
}
p img { margin: 0; }
p.lead { font-size: 21px; line-height: 27px; color: #555;  }

em { font-style: italic; }
strong { font-weight: 700; color: #333; }
small { font-size: 80%; }

/* ------------------------------------------------------------------- */
/* Links
---------------------------------------------------------------------- */
a {
  color: #fff;
  text-decoration: none;
  outline: 0;
  -webkit-transition:0.5s all ease;
  -moz-transition:0.5s all ease;
  -o-transition:0.5s all ease;
  transition:0.5s all ease;
}

a:hover,
a:focus,
a:active,
a.active {
  text-decoration: none;
  outline: 0;
  -webkit-transition:0.5s all ease;
  -moz-transition:0.5s all ease;
  -o-transition:0.5s all ease;
  transition:0.5s all ease;
}

p a, p a:visited { line-height: inherit; }


/* ==========================================================================
   Navbar Styles
   ========================================================================== */
.navbar, .navbar-default {
    margin-bottom: 0;
    border-radius: 0;
    padding: 25px 15px;
    border: 0;
    background-color: #fff;
  box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.2);
}
.navbar-brand{
    padding-left:2px;
    font-size: 30px;
    font-family: Calibri;
}
a:hover {
    color:black;
    text-decoration: none;
}

.global-nav-user{
    color: white;
    float:right;
    margin-right: 10px;
}

/* ==========================================================================
   Profile Section
   ========================================================================== */
.profile{
  background: #f4f4f4;
  padding: 0px 0px;
}
.profile .container-fluid{
  padding: 0px !important;
  margin: 0px !important;
}
.profile .row{
  padding: 0px !important;
  margin: 0px !important;
}
.profile .row .col-lg-3,.profile .row .col-lg-6{
  padding: 0px !important;
  margin: 0px !important;
}
.profilebox {
  color: #fff;
  height: 250px;
  width: 100%;
  box-shadow: 0 5px 25px 0 rgba(123,123,123,.15);
  margin-bottom: 0px !important;
  padding: 0px !important;
}
.profilebox-large {
  color: #fff;
  height: 500px;
  width: 100%;
  box-shadow: 0 5px 25px 0 rgba(123,123,123,.15);
  margin-bottom: 0px !important;
  padding: 0px !important;
}
/* ==========================================================================
   User Profile
   ========================================================================== */
.user-profile{
  background: #f4f4f4;
  padding: 0px 0px 20px 0px;
}
.user-profile .post-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 24px;
  margin-top: 20px;
}
.user-profile .post-content .author-post {
  width: 100%;
  margin-top: -105px;
  margin-bottom: 5px;
  z-index: 1;
  align-content: center;
}
.user-profile .post-content .author-post img {
  width: 200px;
  height: 200px;
  border: 7px solid #fff;
}

.details{
  background: #f4f4f4;
  padding: 0px 0px 20px 0px;
}
.details .details-box{
  border-radius: 5px;
  background: white;
  padding: 20px 15px;
}
.details .content-box h4{
  font-family: 'Abhaya Libre', serif;
  font-size: 32px;
  color: #88898a;
}
.details .content-box i{
  font-size: 15px !important;
  background: #f73d93;
  color: #fff !important;
  border-radius: 50% !important;
  padding: 4px;
}
.details .content-box p{
  font-family: 'Abhaya Libre', serif;
  font-size: 15px;
  color: #848484;
}
.details .content-box p span.hashtag{
  color: #f73d93 !important;
}
.details .content-box small span{
  font-family: 'Abhaya Libre', serif;
  font-size: 15px;
  color: #aaa;
}

@media (max-width: 768px){
	.details .col-lg-3{
	  float: left ;
      margin-bottom: 20px;
	}
}

/* ==========================================================================
   Home Menu
   ========================================================================== */

.home-menu{
    background-color: #f4f4f4;
	padding: 0px 0px 0px 0px;
}
.home-menu .menu-category{
  background: #fff;
  padding: 15px 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.home-menu ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.home-menu .menu-category li {
  font-family: 'Abhaya Libre', serif;
  display: inline-block;
  padding: 2px 5px;
  margin: 3px 15px;
}
.home-menu .menu-category li.current-menu-item a {
  background-color: #fff;
  color: #88898a;
  font-weight: 700;
}
.home-menu .menu-category li span{
  background-color: #f73d93;
  padding: 3px;
  border-radius: 50%;
  color: #fff;
}
.home-menu .menu-category ul li a {
  font-family: 'Abhaya Libre', serif;
  font-size: 16px;
  color: #848484;
}
.home-menu .menu-category ul li a:hover {
  font-size: 16px;
  color: #f73d93 !important;
  text-decoration: none;
}

/* ==========================================================================
   News Feed Styles
 ========================================================================== */
.newsfeed {
  background: #f4f4f4;
  padding: 40px 0px;
}
.cardbox {
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 5px 25px 0 rgba(123,123,123,.15);
  margin-bottom: 20px;
  padding: 0px !important;
}
.cardbox .cardbox-heading {
  padding: 16px;
  margin: 0;
}
.cardbox .pull-right > .btn-flat-icon {
  margin-top: -4px;
}
.cardbox .btn-flat.btn-flat-icon {
 border-radius: 50%;
 font-size: 24px;
 height: 32px;
 width: 32px;
 padding: 0;
 overflow: hidden;
 color: inherit !important;
}

.cardbox .pull-right .dropdown-menu{
  position: relative;
  left: 13px !important;
}
.cardbox .pull-right a:hover{
  background: #f4f4f4 !important;
}
.cardbox .pull-right a.dropdown-item {
  display: block;
  width: 100%;
  padding: 4px 0px 4px 10px;
  clear: both;
  font-weight: 400;
  font-family: 'Abhaya Libre', serif;
  font-size: 14px !important;
  color: #848484;
  text-align: inherit;
  white-space: nowrap;
  background: 0 0;
  border: 0;
}

.m-0 {
    margin: 0 !important;
}
.media {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
}
.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}
.media .mr-3{
  margin-right: 1rem !important;
}
.media img{
  width: 48px !important;
  height: 48px !important;
  padding: 2px;
  border: 2px solid #f4f4f4;
}
.media-body {
  -ms-flex: 1;
  flex: 1;
  padding: .4rem !important;
}
.media-body p{
  font-family: 'Abhaya Libre', serif;
  font-weight: 700 !important;
  font-size: 14px;
  color: #88898a;
}
.media-body small span{
  font-family: 'Abhaya Libre', serif;
  font-size: 14px;
  color: #aaa;
}

.cardbox .cardbox-item {
    position: relative;
    display: block;
}
.cardbox .cardbox-item img{
}
.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
}
.fw {
    width: 100% !important;
	height: auto;
}

.cardbox-base ul{
 margin: 10px !important;
 padding: 10px !important;
 font-size: 0px;
 text-align: center;
 border-bottom: 2px solid #f4f4f4;
}
.cardbox-base li {
  list-style: none;
  display: inline-block;
  margin: 0px 0px 0px -8px !important;
  padding: 0px 0px 0px 0px !important;
}
.cardbox-base li a{
  margin: 0px !important;
  padding: 0px !important;
}
.cardbox-base li a img{
  width: 32px;
  height: 32px;
  margin: 0px !important;
  border: 2px solid #fff;
}

.cardbox-like ul{
  padding: 0px 0px 10px 0px !important;
  font-size: 0px;
  text-align: center;
}
.cardbox-like li:first-child {
  display: inline-block;
  margin-right: 5px;
  padding-right: 20px;
  border-right: 2px solid #f4f4f4;
}
.cardbox-like li:last-child {
  display: inline-block;
  text-align: center;
  margin-left: 15px;
}
.cardbox-like li a {
  color: #e16a70;
  font-size: 14px;
  float: left;
  padding-top: 6px;
  margin-right: 5px;
}
.cardbox-like li a:hover {
  text-decoration: none;
  color: #e16a70 !important;
}
.cardbox-like li span{
  font-family: 'Abhaya Libre', serif;
  float: left;
  color: #e16a70;
  font-size: 18px;
  padding-top: 6px;
}
.cardbox-like li span.span-last{
  color: #b2b2b2;
}
.cardbox-like li a.com {
    color: #b2b2b2;
    font-size: 14px;
    padding-top: 6px;
    margin-right: 5px;
}



/* ==========================================================================
   Modal Styles
   ========================================================================== */
.modal-dialog{
  width: 830px;
  height: 450px !important;
}
.modal-image img{
  width: 600px !important;
  height: 540px !important;
}

.img-poster{
  margin-bottom: 10px;
  border-bottom: solid 1px #f4f4f4;
  padding-bottom: 5px;
}
.modal-meta-top .img-poster img {
  height: 34px;
  width: 34px;
  float: left !important;
  margin-right: 10px;
  border: 4px solid #f4f4f4;
}
.modal-meta-top .img-poster a{
  font-family: 'Abhaya Libre', serif;
  font-size: 14px;
  color: #88898a !important;
}
.modal-meta-top .img-poster span {
  font-family: 'Abhaya Libre', serif;
  color: #aaa;
  font-size: 12px;
}
.modal-meta-top .img-poster a.kafe-btn-mint-small {
  font-family: 'Abhaya Libre', serif;
  margin-left: 0px;
  color: #fff !important;
  border-radius: 3px;
}


.img-comment-list {
  list-style: none;
  padding: 0px 10px 30px 0px;
  height: 390px !important;
  overflow-y: scroll;
}
.img-comment-list li {
    margin-top: 5px;
}
.img-comment-list li > div {
    display:table-cell;
}
.img-comment-list .comment-img {
  float: left !important;
  margin-right: 10px !important;
  margin-top: 5px;
}
.img-comment-list img {
  width: 22px;
  height: 22px;
}
.img-comment-list li a{
  font-family: 'Abhaya Libre', serif;
  font-size: 14px;
  color: #88898a !important;
}
.img-comment-list p {
  font-family: 'Abhaya Libre', serif;
  margin: 0;
  font-size: 13px;
  color: #848484;
}
.img-comment-list span {
  font-family: 'Abhaya Libre', serif;
  font-size: .8em;
  color: #aaa;
}


.modal-meta-bottom {
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px;
    border-top: solid 1px #f4f4f4;
	display: block;
}
.modal-meta-bottom ul{
  margin: 0px !important;
  padding: 0px !important;
  font-size: 0px !important;
}
.modal-meta-bottom li{
  list-style: none;
  padding: 0px !important;
  margin: 0px !important;
  font-size: 0px !important;
}
.modal-meta-bottom li a.modal-like i{
  font-size: 14px !important;
  color: #e16a70 !important;
  margin-right: 4px;
  margin-left: 10px;
}
.modal-meta-bottom li a.modal-comment i{
  font-size: 14px !important;
  color: #848484 !important;
  margin-right: 4px;
}
.modal-meta-bottom li span.modal-one{
  margin-right: 10px;
  color: #e16a70 !important;
}
.modal-meta-bottom li span{
  font-family: 'Abhaya Libre', serif;
  font-size: 14px !important;
  color: #848484;
}
.modal-meta-bottom li a:hover{
  color: #e16a70 !important;
}
.modal-meta-bottom .thumb-xs{
  display: inline-block;
  text-align: center;
  margin: 0px !important;
  padding: 0px !important;
}
.modal-meta-bottom .thumb-xs img{
  width: 25px;
  height: 25px;
}
.modal-meta-bottom .comment-body {
  float: right !important;
  margin: 0px !important;
  padding: 0px !important;
}
.modal-meta-bottom .comment-body input{
  width: 200px !important;
}


/* ==========================================================================
   Media Queries for Modal
   ========================================================================== */

/* Desktop */
@media (max-width: 1024px){
}

@media (max-width: 992px){
	.modal-dialog{
	  width: 700px;
	}
    .modal-content {
        border-radius: 0;
        max-height: 100%;
        overflow-y: auto;
    }
	.img-poster{
	  padding-top: 5px;
	}
}

/* Tablets */
@media (max-width: 800px){
}

@media (max-width: 768px){
	.modal-dialog{
	  width: 600px;
	}
	.modal-image img{
	  height: auto !important;
	}
	.img-poster{
	  padding-top: 5px;
	}
}

/* Mobile phones */
@media (max-width: 600px){
	.modal-dialog{
	  width: 500px !important;
	}
	.img-poster{
	  padding-top: 5px;
	}
}

@media (max-width: 548px){
	.modal-dialog{
	  width: 400px !important;
	}
	.img-poster{
	  padding-top: 5px;
	}
}

@media (max-width: 480px){
	.modal-dialog{
	  width: 300px !important;
	}
	.img-poster{
	  padding-top: 5px;
	}
}

@media (max-width: 320px){
	.modal-dialog{
	  width: 300px !important;
	}
	.modal-image img{
	  height: auto !important;
	}
	.img-poster{
	  padding-top: 5px;
	}
}


/* ==========================================================================
   Story Box Styles
   ========================================================================== */
.storybox {
  color: #fff;
  height: 200px;
  width: 100%;

  border-radius: 3px;
  box-shadow: 0 5px 25px 0 rgba(123,123,123,.15);
  margin-bottom: 20px;
  padding: 0px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.story-body{
  padding: 5px;
  text-align: center;
}
.story-body img{
  width: 42px;
  height: 42px;
  align-content: center;
  border: 2px dotted #fff;
}
.story-body h4{
  font-family: 'Abhaya Libre', serif;
  font-size: 14px;
  color: #fff;
  line-height: 1;
}
.story-body p{
  font-family: 'Abhaya Libre', serif;
  font-size: 12px;
  color: #fff;
  line-height: 1;
}

/* ------------------------------------------------------------------- */
/* Explore Section
---------------------------------------------------------------------- */
.explorebox {
  color: #fff;
  height: 200px;
  width: 100%;
  border-radius: 3px;
  box-shadow: 0 5px 25px 0 rgba(123,123,123,.15);
  margin-bottom: 20px;
  padding: 0px !important;
}
.explore-top{
  padding: 5px;
}
.explore-top .explore-like{
  padding: 5px 0px 0px 5px;
  color: #e16a70 !important;
}
.explore-top .explore-circle{
  padding: 5px;
  position: relative;
  top: -28px;
  color: #fff !important;
}
.explore-top i{
  font-size: 16px;
}
.explore-top .explore-like span{
  font-family: 'Abhaya Libre', serif;
  font-size: 16px;
  color: #f4f4f4;
  padding-left: 2px;
}
.explore-body{
  padding: 0px 9px 10px 9px;
}
.explore-body img{
  width: 33px;
  height: 33px;
  border: 2px solid #fff;
  position: relative;
  top: 320px;
}
.explore-body h4{
  font-family: 'Abhaya Libre', serif;
  font-size: 14px;
  color: #fff;
  line-height: 1;
}
.explore-body p{
  font-family: 'Abhaya Libre', serif;
  font-size: 12px;
  color: #fff;
  line-height: 1;
}

/* ==========================================================================
   Single Post Page
   ========================================================================== */
.single-post{
  background: #f4f4f4;
  padding: 80px 0px 150px 0px;
}
