/* ==========================================================================
   Project Intrigued profile page css
   ==========================================================================
   * Author Name: Gurugautham Anandakumar */
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"); /*bootstrap 3.3.2 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, fieldset, form, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font:inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
    line-height: 1;
    background-color: #ffffff;
}

/* ==========================================================================
   Base Styles
   ========================================================================== */
html, body {
  overflow-x: hidden;
  text-align: left;
  -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
 -webkit-text-size-adjust: 100%;
}

/* ------------------------------------------------------------------- */
/* Typography
---------------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
  color: #2C3E50;
  letter-spacing: 1px;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
}

h1 { font-size: 30px; line-height: 54px; }
h2 { font-size: 24px; line-height: 48px; }
h3 { font-size: 22px; line-height: 44px; }
h4 { font-size: 18px; line-height: 36px; }
h5 { font-size: 16px; line-height: 28px; }
h6 { font-size: 14px; line-height: 24px; }

p {
  line-height: 24px;
  margin: 0;
  font-size: 14px;
  letter-spacing: 1px;
}
p img { margin: 0; }
p.lead { font-size: 21px; line-height: 27px; color: #555;  }

em { font-style: italic; }
strong { font-weight: 700; color: #333; }
small { font-size: 80%; }

/* ------------------------------------------------------------------- */
/* Links
---------------------------------------------------------------------- */
a {
  color: #fff;
  text-decoration: none;
  outline: 0;
  -webkit-transition:0.5s all ease;
  -moz-transition:0.5s all ease;
  -o-transition:0.5s all ease;
  transition:0.5s all ease;
}

a:hover,
a:focus,
a:active,
a.active {
  text-decoration: none;
  outline: 0;
  -webkit-transition:0.5s all ease;
  -moz-transition:0.5s all ease;
  -o-transition:0.5s all ease;
  transition:0.5s all ease;
}

p a, p a:visited { line-height: inherit; }


/* ==========================================================================
   Navbar Styles
   ========================================================================== */
.navbar.navbar-default {
    margin-bottom: 0;
    border-radius: 0;
    padding: 25px 15px;
    border: 0;
    background-color: #fff;
  box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.2);
}

.navbar-brand {
    @import url("https://fonts.googleapis.com/css?family=Abhaya+Libre");
    font-size: 40px;
    color: #474B59 ;

}

a.navbar-signout:hover{
    color: #f73d93 !important;
    background-color: transparent;
}

.navbar-signout {
    display: inline;
    margin-left: 0px;
    margin-right: 2px;
    float: right;
    bottom: 0;
    border-radius: 4px;
    padding: 25px 4px;
    line-height: 1 ;
    font-size: 18px;
    color: #474B59;
    text-transform: uppercase;
}

/* ==========================================================================
   Navbar Second Styles
   ========================================================================== */
.justify-content-between {
    -ms-flex-pack: justify ;
    justify-content: space-between ;
}
.d-flex {
    display: -ms-flexbox ;
    display: flex;
}
.nav-sec {
  margin:0;
  height: 190px;
  border-top: 1px solid rgba(90, 90, 90, 0.12);
  background-color: grey;
  box-shadow: 0 -5px 25px 0 rgba(123, 123, 123, 0.15);
  color: #90a4ae;
}
.nav-sec a:hover{
  color: #f4f4f4 ;
}

.fh {
  height: 200%;
}

.nav-icon {
  display: block;
  margin-top: 40px;
  padding: 10px 6px 10px 6px;
  border-bottom: 2px solid transparent;
  font-size: 2rem;
  text-align: center;
  color: #fff;
  height: 100%;
  line-height: 1.5;
  text-decoration: none;
  flex-basis: 0;
  flex-grow: 1;
}
.nav-icon span{
  font-size: 16px;
  display: block;
}

.nav-icon em {
  padding: 0;
  font-size: 30px;
}

.nav-icon-lg {
  height: 190px;
  width: 270px;
}

.nav-icon-lg-new {
  height: 180px;
  width: 317px;
}

.clean-black {
  background-color: #545654;
}

.dark-black {
  background-color: #4e514e;
}

.light-pink {
  background-color: #f73d93;
}

@media(max-width:768px) {
	.nav-sec {
	  height: 100px;
	}
	.fh {
	  height: 150% ;
	}
	.nav-icon-lg {
	  height: 100px;
	}
	.nav-icon span{
	  font-size: 12px;
	  display: block;
	}
	.nav-icon em {
	  padding: 0;
	  font-size: 20px;
	}
}

/* ==========================================================================
   Profile Section
   ========================================================================== */
.profile{
  background: #f4f4f4;
  padding: 0px 0px;
}
.profile .container-fluid{
  padding: 0px !important;
  margin: 0px !important;
}
.profile .row{
  padding: 0px !important;
  margin: 0px !important;
}
.profile .row .col-lg-3,.profile .row .col-lg-6{
  padding: 0px !important;
  margin: 0px !important;
}
.profilebox {
  color: #fff;
  height: 250px;
  width: 100%;
  box-shadow: 0 5px 25px 0 rgba(123,123,123,.15);
  margin-bottom: 0px !important;
  padding: 0px !important;
}
.profilebox-large {
  color: #fff;
  height: 500px;
  width: 100%;
  box-shadow: 0 5px 25px 0 rgba(123,123,123,.15);
  margin-bottom: 0px !important;
  padding: 0px !important;
}

/* ==========================================================================
   User Profile
   ========================================================================== */
.user-profile{
  background: #f4f4f4;
  padding: 0px 0px 20px 0px;
}
.user-profile .post-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 24px;
  margin-top: 20px;
}
.user-profile .post-content .author-post {
  width: 100%;
  margin-top: -105px;
  margin-bottom: 5px;
  z-index: 1;
  align-content: center;
}
.user-profile .post-content .author-post img {
  width: 200px;
  height: 200px;
  border: 7px solid #fff;
}

.details{
  background: #f4f4f4;
  padding: 20px 0px 20px 0px;
}
.details .details-box{
  background: #fff;
  padding: 15px;
}
.details .content-box h4 {
    font-size: 32px;
    color: #88898a;
}


@media (max-width: 768px){
	.details .col-lg-3{
	  float: left ;
      margin-bottom: 20px;
	}
}

.avatarbtn{
    border: 0;
    color: #f73d93;
    display: inline;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: 0 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: 600;
    padding: 5px 9px;
    text-align: center;
    text-transform: inherit;
    text-overflow: ellipsis;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    width: auto;
    outline: 0!important;
}
.name{
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    border: 0 solid #000;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    position: relative;
    margin-bottom: 16px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
.head{
    box-sizing: border-box;
    font-size: 18px;
    line-height: 18px;
    color: #262626;
    -webkit-box-flex: 0;
    font-weight: 600;
    flex: 0 0 194px;
    margin-top: 6px;
}
@media (min-width: 736px){
    .head{
    padding-right: 32px;
    text-align: right;
        padding-left: 32px;
}
}
.tail{
    line-height: 18px;
    color: #262626;
    -webkit-box-flex: 1;
    flex-grow: 1;
    font-size: 18px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0;
    position: relative;
    background: 0 0;
    border-radius: 3px;
    -webkit-flex: 0 1 355px;
    -ms-flex: 0 1 355px;
    height: 32px;
    padding: 0 10px;
    vertical-align: baseline;
}
@media (min-width: 736px){
.tail {
    -webkit-flex-basis: 355px;
    flex-basis: 355px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-right: 60px;
}}
