body{
  background-image: url("/static/image/bg5.jpg");
  background-size: cover;
}
h5{
  font-family: Calibri;
  font-weight: bold;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-control{
  margin-top: 5px;
}

#inputEmail, #inputPassword, #inputUsername{
  margin-bottom: 20px;
}

.form-signin .checkbox {
  margin-bottom: 30px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
}
.btn{
  width: 60%;
  margin: 0 auto;
}
.btn, .btn-lg, .btn-primary, .btn-block{
  margin-bottom: 10px;
  background-color: #4e555b;
  border-color: #4e555b;
  font-family: Calibri;
  color: white;
}