<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-140053569-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-140053569-2');
</script>
    {% load staticfiles %}
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="SHORTCUT ICON" href="{% static "/image/favicon.ico" %}"/>
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet" type="text/css"/>
    <link href="{% static "css/mdui.min.css" %}" rel = "stylesheet" type="text/css" >
    <link href="{% static "css/main.css" %}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>#Intrigued</title>
</head>


<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top" style="padding: 0px">
    <a class="navbar-brand" href="/">&emsp;#Intrigued</a>
    <button class="navbar-toggler order-12" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav" style="margin-left: 10px">
            <li class="nav-item">
                <a class="nav-link" href="#hot">Hot Topic</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#discuss">Discuss</a>
            </li>
{#            <li class="nav-item">#}
{#                <a class="nav-link" href="/user/">Personal</a>#}
{#            </li>#}
            {#            <li class="nav-item">#}
            {#                <a class="nav-link" href="#">Link 3</a>#}
            {#            </li>#}
            {#            <li class="nav-item">#}
            {#                <a class="nav-link" href="#">Link 4</a>#}
            {#            </li>#}
            {#            <li class="nav-item">#}
            {#                <a class="nav-link" href="#">Link 5</a>#}
            {#            </li>#}

        </ul>

    </div>

    <div class="global-nav-user">
        {% if user.is_authenticated %}
            <a id="username" href="/user">{{ user.username }}</a>
            <a href="/user/logout/?next=/" style="color: white; padding-left: 10px">LogOut</a>
        {% else %}
            <a href="/user/login/" style="color: white">Login</a>
        {% endif %}
    </div>
</nav>

{% if type == "tag" or type == "subscribe_tag" %}

{% else %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8 col-xl-8" style="padding-right: 20px;padding-left: 20px;">
                <div id="demo" class="carousel slide" data-ride="carousel" style="padding:0px;margin-left: auto;margin-right:auto;margin-top: 80px">
                    <!-- 指示符 -->
                    <ul class="carousel-indicators">
                        <li data-target="#demo" data-slide-to="0" class="active"></li>
                        <li data-target="#demo" data-slide-to="1"></li>
                        <li data-target="#demo" data-slide-to="2"></li>
                    </ul>

                    <div class="carousel-inner">
                        {% for topic in topics %}
                            <div style="background-image:  url('{{ topic.pic.url }}');background-position: center;background-size: cover" class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
                                <a href="{{ topic.link }}">
{#                                    <img src="">#}
                                <div class="carousel-caption">
                                    <h3>{{ topic.t }}</h3>
                                    <p>{{ topic.d }}</p>
                                </div>
                                </a>
                            </div>
                        {% endfor %}


{#                        <div class="carousel-item">#}
{#                            <img src="https://static.runoob.com/images/mix/img_nature_wide.jpg">#}
{#                            <div class="carousel-caption">#}
{#                                <h3>Weekly Topic 2</h3>#}
{#                                <p>Description2</p>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="carousel-item">#}
{#                            <img src="https://static.runoob.com/images/mix/img_mountains_wide.jpg">#}
{#                            <div class="carousel-caption">#}
{#                                <h3>Weekly Topic 3</h3>#}
{#                                <p>Description3</p>#}
{#                            </div>#}
{#                        </div>#}
                    </div>

                    <a class="carousel-control-prev" href="#demo" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#demo" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>

                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row  justify-content-center">
            <div class="col-12 col-lg-8 col-xl-8" style="margin-top: 50px;">


                <h3>Intrigued!</h3>
                <p style="font-size: 20px; font-family: Calibri"> Here, with Like-Minded XJTLUers.</p>
            </div>
        </div>
    </div>

    <div class="container-fluid"  style="margin:0px; margin-top: 20px; width:100%; background-color: rgba(180,180,180,0.3);padding-bottom: 20px">

        <div class="row justify-content-center">
        <div id="hot" style="margin-top: -100px"></div>
            <div class="col-12 col-lg-8 col-xl-8">
                <h3 style="padding-top:20px; padding-bottom: 20px"> Hot Topic </h3>
                <div class="hot-topic-father">
                    {% for topic in hot %}
                        <a href="/tag/{{ topic.0 }}" class="hot-topic"><mark>{{ topic.0 }}</mark></a>
                    {% endfor %}
                </div>
            <h4>Want something else?</h4>
                <form method="get" action="/tag/">
                    <input name="q" class="form-control" placeholder="Search a tag">
                </form>
            </div>
        </div>
    </div>

    {% if user.is_authenticated %}
        <div class="container-fluid" style="margin:0px; margin-top: 20px; width:100%;padding-bottom: 20px;">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8 col-xl-8">
            <h3 style="padding:20px 0;"> Something New to Share </h3>
            <div class="box">
                <form method="post" enctype="multipart/form-data">
                    <textarea name="content" id="create-text" class="text-muted font-weight-bold text-createDis " style="padding-top: 5px;" placeholder="Say something..." minlength="1"></textarea>
                    <input id="picture" name="image" class="hidden" type="file" accept="image/jpeg,image/png" style="display: none"/>
                    <input id="uncommontable" name="uncommentable" type="checkbox" hidden>
                    <input id="choosetag" name="tag" type="hidden">
                </form>
                <div id="img-prev-o" style="margin-bottom: 10px;max-height: 200px;max-width: 200px;overflow: hidden;">
                    <img id="img-prev" style="max-height: 200px;" src="">
                </div>
                <div class="content-createDis-btn" id="content-createDis-btn">

{#                    <button type="button" id="tags" class="btn btn-light"><i class="mdui-icon material-icons">&#xe892;</i></button>#}
{#                    <button type="button" class="btn btn-light content-createDis-btn-emotion"><i class="mdui-icon material-icons">&#xe24e;</i></button>#}
{#                    <button type="button" id="timer" class="btn btn-light content-createDis-btn-timer"><i class="mdui-icon material-icons">&#xe190;</i></button>#}
                    <button type="button" id="image" class="btn btn-light content-createDis-btn-image"><i class="mdui-icon material-icons">&#xe3f4;</i></button>
                    <button type="button" id="commentable" class="btn btn-light content-createDis-btn-lock"><i class="mdui-icon material-icons">&#xe898;</i></button>
                    <button type="button" id="create" disabled="disabled"  class="btn btn-primary content-createDis-btn-publish">Publish</button>
                    <div style="margin-top: 15px">
                    <h5>Choose Tags</h5>

                        {% for tag in user.userext.tags.all %}
                            <div class="main-tag-choose-o">
                                <input class="main-tag-choose" tid="{{ tag.id }}" type="checkbox"><span class="main-tag-choose-i">{{ tag.title }}</span>
                            </div>

                        {% endfor %}

                    </div>


                    <div class="post-tags" id="post-tags">
                        {% for tags in post.Tag.title %}
                            <input type="checkbox" id={{ tags.0 }}>
                            <label for = {{ tags.0 }}>basketball</label>
                        {% endfor %}
                    </div>

{#                    <div  style="margin-top: 20px" class="display-img">#}
{#                        <img class="create-img" id="create-img" src="" >#}
{#                    </div>#}


                </div>

            </div>
        </div>
            </div>
        </div>

        <div class="container-fluid" style="margin: 20px auto;width:100%;padding-top:10px; padding-bottom: 20px;">
            <div class="row justify-content-center">
{#                <div class="col-12 col-lg-8 col-xl-8">#}
{#                    <h3 style="padding-top:20px; padding-bottom: 20px"> Choose Your Favourite Tags </h3>#}
{#                    <div class="content-changeTags">#}
{#                        {% for tag in user.userext.tags.all %}#}
{#                            <div class="content-changeTags-info">#}
{#                                {{ tag.title }}#}
{#                            </div>#}
{#                        {% endfor %}#}
{#                    </div>#}
{#                </div>#}
            </div>
        </div>

    {% endif %}


{% endif %}

<div class="container-fluid" style="width:100%; background-color: rgba(180,180,180,0.3); ">
    {% if type == "tag"%}
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8 col-xl-8">
                <button type="button" class= "btn" style="font-size: 30px; background-color: transparent; margin-top: 100px" onclick="location.replace(document.referrer)">
                    <i class="fas fa-angle-double-left" style="float: left;padding:0; color: black;"></i>
                </button>
                {% if user.is_authenticated %}
                    {% if ti in user.userext.tags.all %}
                        <form style="display: inline-block;">
                        <input type="hidden" name="s" value="u">
                            <button type="submit"  class= "btn btn-info" style="margin-top: 100px;background-color: #33b481;width: 100px" >
                            <span style="font-size: 15px">Subscribed</span>
                        </button>
                    </form>

                        {% else %}
                        <form style="display: inline-block;">
                        <input type="hidden" name="s" value="s">
                            <button type="submit"  class= "btn btn-info" style="margin-top: 100px;background-color: #17A2B4;width: 100px" >
                            <span style="font-size: 15px">Subscribe</span>
                        </button>
                    </form>
                    {% endif %}


                {% endif %}



            </div>
        </div>
    {% endif %}

    <div class="row justify-content-center">
    <div id="discuss" style="margin-top: -100px"></div>
        <div class="col-12 col-lg-8 col-xl-8">
            <h3 style="margin-top:10px; padding-top: 20px; padding-bottom: 20px" id="discuss"> Discuss... </h3>
            {% if posts|length == 0 %}
                <h2>Oops, Nothing yet.</h2>
            {% endif %}
            {% for post in posts %}
                <div class="container-fluid" style="padding: 10px;border-top: gray 1px dashed">
                    <div class="row">
                        <div class = "col-8">
                        <a href="/{{ post.id }}/" style="color: black;">
                            <img src="{{ post.user.userext.profile.url }}" class="rounded-circle" style="width: 50px;height: 50px;">
                            <span style="font-family: Calibri; font-size: 20px;color: #000a44; font-weight: bold;padding-left: 5px">{{ post.user.userext.nickName }}</span>
                            <br>
                            <span>
                               {{ post.content }}
                           </span>
                        </a>

                            <div class="hot-topic-father" style="margin-top: 15px">
                                {% for topic in post.tags.all %}
                                    <a href="/tag/{{ topic.title }}" class="hot-topic"><mark
                                            {% if type == "tag" and topic.title == tag %}
                                                style="background-color: #e0a800; color: black; font-weight: bold"
                                            {% endif %}
                                            {% if type == "subscribe_tag" and topic in user.userext.tags.all %}
                                                style="background-color: #e0a800; color: black; font-weight: bold"
                                            {% endif %}

                                    >{{ topic.title }}</mark></a>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-3" style="background-image: url('{{ post.image.all.0.image.url }}');width: 300px;height: 150px;background-size: cover;background-position: center">
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<div style="height: 50px;"></div>

</body>

<footer>
    <script src="{% static "/js/jquery.min.js" %}"></script>
    <script src="{% static "/js/bootstrap.js" %}"></script>
    <script src="{% static "/js/popper.min.js" %}"></script>
    <script src="{% static "/js/main.js" %}"></script>
</footer>
</html>