{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-140053569-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-140053569-2');
</script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-grid.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-reboot.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/major.css" %}">

    {% block style %}

    {% endblock %}
</head>
<body>
    <div class="nav" style="background: #86cfda">
        {% block nav %}
        
        {% endblock %}
    </div>
    <div class="container-fluid">
        <div class="row justify-content-md-center">
            <div class="col-lg-8" >
                {% block content %}

                {% endblock %}
            </div>
        </div>
    </div>
<div class="footer" style="background: #452054;min-height: 50px">

</div>
</body>
    <footer>
        <script src="{% static "js/jquery.min.js" %}"></script>
        <script src="{% static "js/bootstrap.min.js" %}"></script>
        <script src="{% static "js/bootstrap.bundle.min.js" %}"></script>
        {% block script %}

        {% endblock %}
    </footer>
</html>