{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-140053569-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-140053569-2');
</script>
    <meta charset="UTF-8">
    <title>Intrigued SettingsPage</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name='viewport' content='width=device-width'>
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet" type="text/css"/>
    <link href="{% static "css/mdui.min.css" %}" rel = "stylesheet" type="text/css" >
    <link href="{% static "css/main.css" %}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="{% static "css/notificationspage.css" %}" rel="stylesheet">

</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top" style="padding: 0px; border-radius: 0px;position: fixed;">
    <a class="navbar-brand" href="/">&emsp;#Intrigued</a>
    <button class="navbar-toggler order-12" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav" style="margin-left: 10px">
            <li class="nav-item">
                <a class="nav-link" href="#hot">Hot Topic</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#discuss">Discuss</a>
            </li>
        </ul>
    </div>

    <div class="global-nav-user">
        {% if user.is_authenticated %}
            {{ user.username }}
            <a href="/user/logout/?next=/" style="color: white; padding-left: 10px">LogOut</a>
        {% else %}
            <a href="/user/login/" style="color: white">LogIn</a>
        {% endif %}
    </div>
</nav>
<!-- ==============================================
Notifications Section
=============================================== -->
<section class="details">
    <div class="container" style="margin-top: 80px">
{#        <div class="row justify-content-center">#}
{#            <div class="col-9">#}
{#                #}
{#            </div>#}
{#        </div>#}
        <div class="row" style="margin-top: 5px">
            <div class="col-12 col-lg-10" style="border-radius:5px;">
                <div class="content-box" style="float: left">
                    <button type=”button” class= "btn" style="font-size: 30px; background-color: transparent;" onclick="location.replace(document.referrer)">
                    <i class="fas fa-angle-double-left" style="float: left;padding:0; color: #000a44;"></i>
                </button><h4 style="display: inline;    vertical-align: text-top;"> Notifications </h4>
                </div><!--/ media -->
            </div>
        </div>
    </div><!--/ container -->
</section>


<section class="notifications">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-10">
                <ul>
                    {% for n in notification %}
                        <li>
                            <div class="media first_child">
                                {% if n.post and n.post.user.userext and n.post.user.userext.profile %}
                                    <img src="{{ n.post.user.userext.profile.url }}" alt="" class="img-responsive img-circle">
                                {% else %}
                                    <img src="{% static "image/anon.png" %}" alt="" class="img-responsive img-circle">
                                {% endif %}

                                <div class="media_body">
                                        <a href="/{{ n.post_id }}"><p>
                                        <b>{{ n.post.user.userext.nickName }}</b>
                                        {% if n.action == 'pc' or n.action == 'cc'  %}
                                            <span>commented on your post.</span>
                                        {% else %}
                                            <span>liked your post.</span>
                                        {% endif %}
                                    </p></a>
                                    <div class="btn_group">
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>

            </div>

        </div><!--/ row-->
    </div><!--/ container -->
</section>


</body>
</html>