<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-140053569-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-140053569-2');
</script>
    {% load staticfiles %}
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="SHORTCUT ICON" href="{% static "/image/favicon.ico" %}"/>
    <meta charset="UTF-8">
    <title>Intrigued ProfilePage</title>
    <meta name='viewport' content='width=device-width'>
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet" type="text/css"/>
    <link href="{% static "css/profilepage.css" %}" rel="stylesheet">

</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top" style="padding: 0;position: fixed;border-radius: 0;margin-bottom: 0">
    <a class="navbar-brand" href="/">&emsp;#Intrigued</a>
    <button class="navbar-toggler order-12" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav" style="margin-left: 10px">
            <li class="nav-item">
                <a class="nav-link" href="/#hot">Hot Topic</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/#discuss">Discuss</a>
            </li><li class="nav-item">
                <a class="nav-link" href="/user/">Personal</a>
            </li>
        </ul>
    </div>

    <div class="global-nav-user">
        {% if user.is_authenticated %}
            {{ user.username }}
            <a href="/user/logout/?next=/" style="color: white; padding-left: 10px">LogOut</a>
        {% else %}
            <a href="/user/login/" style="color: white">LogIn</a>
        {% endif %}
    </div>
</nav>
<!-- ==============================================
Profile Section
=============================================== -->
<section class="profile">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <div class="profilebox hidden-xs hidden-sm" style="background: linear-gradient( rgba(34,34,34,0.45), rgba(34,34,34,0.45)), url('{% static "image/illustration-henn-kim-12.webp" %}') no-repeat;
		          background-size: cover;
                  background-position: center center;
                  -webkit-background-size: cover;
                  -moz-background-size: cover;
                  -o-background-size: cover;">
                </div>
                <div class="profilebox hidden-xs hidden-sm" style="background: linear-gradient( rgba(34,34,34,0.45), rgba(34,34,34,0.45)), url('{% static "image/illustration-martin-ansin-feature.webp" %}') no-repeat;
		          background-size: cover;
                  background-position: center center;
                  -webkit-background-size: cover;
                  -moz-background-size: cover;
                  -o-background-size: cover;">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="profilebox-large hidden-xs hidden-sm" style="background: linear-gradient( rgba(34,34,34,0.45), rgba(34,34,34,0.45)), url('{% static "image/Microsoft_DannySchlitz_New_Illustration_vinyl.png" %}') no-repeat;
		          background-size: cover;
                  background-position: center center;
                  -webkit-background-size: cover;
                  -moz-background-size: cover;
                  -o-background-size: cover;">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="profilebox hidden-xs hidden-sm" style="background: linear-gradient( rgba(34,34,34,0.45), rgba(34,34,34,0.45)), url('{% static "image/art-lobulo-studio-feature.webp" %}') no-repeat;
		          background-size: cover;
                  background-position: center center;
                  -webkit-background-size: cover;
                  -moz-background-size: cover;
                  -o-background-size: cover;">
                </div>
                <div class="profilebox" style="background: linear-gradient( rgba(34,34,34,0.45), rgba(34,34,34,0.45)), url('{% static "image/design-sva-10.webp" %}') no-repeat;
		          background-size: cover;
                  background-position: center center;
                  -webkit-background-size: cover;
                  -moz-background-size: cover;
                  -o-background-size: cover;">
                </div>
            </div>
        </div><!--/ row-->
    </div><!--/ container -->
</section>

<!-- ==============================================
UserProfile Section
=============================================== -->
<section class="user-profile">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="post-content">
                    <div class="author-post text-center">
                        
                        <a id="changep"><img class="img-fluid img-circle rounded-circle" style="background: white" src="
                            {{ user.userext.profile.url }}
                        " alt="Image"></a>

                        
                    </div><!-- /author -->
                </div><!-- /.post-content -->
            </div><!-- /col-sm-12 -->
        </div><!--/ row-->
    </div><!--/ container -->
</section>

<!-- ==============================================
UserDetails Section
=============================================== -->
<section class="details">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="details-box row justify-content-center">
                    <div class="col-lg-7">
                        <div class="content-box">
                            <form action="/user/change/">
                                <h3>{{ user.userext.nickName }}</h3>
                            </form>

                            {% if user.userext.verified %}
                                <div  style="background:lightgreen;height: 30px;line-height: 30px;padding-left: 15px">
                                    <small><span style="color: black">{{ user.email }}</span></small>
                                </div>

                            {% else %}

                                <form action="/user/verify/">
                                    <input class="form-control" name="verified" placeholder="Your email is not verified. Input the code in your mailbox">
                                </form>
                            {% endif %}

                        </div><!--/ media -->
                    </div>
                    <div class="col-lg-5">
                        <section class="home-menu">

                            <div class="menu-category">
                                    <ul class="menu">
                                    <div>
                                    <li><a href="#myHashtag">MyHashtags <span>{{ user.userext.tags.all|length }}</span></a></li>
                                    <li><a href="#myPost">  MyPosts <span>{{ posts|length }}</span></a></li>
                                    </div>
                                    <div style="margin-top: 10px">
                                    <li><a href="/notification">  Notifications </a></li>
                                    <li><a href="/user/settings">  Settings </a></li>
                                    </div>

                                </ul>
                            </div>
                        </section>
                    </div>
                </div><!--/ details-box -->
            </div>
        </div>
    </div><!--/ container -->
</section>


<!-- ==============================================
FavHashtags Section (mentioned as details class)
=============================================== -->
<section id="myHashtag" class="details" style="padding-top: 10px">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="details-box row">
                    <div class="col-lg-9">
                        <div class="content-box">
                            <h4 style="font-family: unset;line-height: 50px"  >MyHashtags</h4>

                            {% for tag in user.userext.tags.all %}
                                <a style="line-height: 25px;font-size: 20px" href="/tag/{{ tag.title }}" class="hot-topic"><mark>{{ tag.title }}</mark></a>
                            {% endfor %}
                            
                        </div><!--/ media -->
                    </div>
                </div><!--/ details-box -->
            </div>
        </div>
    </div><!--/ container -->
</section>

<!-- ==============================================
Mypost Section
https://theinspirationgrid.com/app/uploads/2011/08/307a-art.jpg
https://theinspirationgrid.com/app/uploads/2013/02/194c-art.jpg
https://theinspirationgrid.com/app/uploads/2019/05/illustration-spratt-feature.jpg
https://theinspirationgrid.com/app/uploads/2019/05/illustration-spratt-08.jpg
https://theinspirationgrid.com/app/uploads/2019/05/illustration-spratt-11.jpg
https://theinspirationgrid.com/app/uploads/2019/01/art-jokinen-01.jpg
=============================================== -->
<section id="myPost"  class="newsfeed">
    <div class="container">

        <div class="row">
{% for post in posts %}
            <div class="col-lg-4">
                <a href="/{{ post.id }}" data-toggle="modal">
                    <div class="explorebox"
                        {% if post.image %}
                         style="background: linear-gradient( rgba(34,34,34,0.2), rgba(34,34,34,0.2)), url('{{ post.image.all.0.image.url }}') no-repeat;
                        {% endif %}

		          background-size: cover;
                  background-position: center center;
                  -webkit-background-size: cover;
                  -moz-background-size: cover;
                  -o-background-size: cover;">
                        <div class="explore-top">
                            <div class="explore-like"><i class="fa fa-heart"></i> <span>{{ post.like.all|length }}</span></div>
                        </div>

                    {% if post.content %}
                        <div style="padding:10px;background: rgba(215,215,215,0.6);max-height: 100px;overflow: hidden">
                            <a href="/{{ post.id }}">
                                <h5>{{ post.content }}</h5>
                            </a>
                        </div>
                    {% endif %}

                    </div>
                </a>
            </div><!--/ col-lg-4 -->

{% endfor %}


        </div><!--/ row -->

    </div><!--/ container -->
</section>

<!-- ==============================================
 Modal Section
 =============================================== -->
{#<div id="myModal" class="modal fade">#}
{#    <div class="modal-dialog">#}
{#        <div class="modal-content">#}
{#            <div class="modal-body">#}
{##}
{#                <div class="row">#}
{##}
{#                    <div class="col-md-8 modal-image">#}
{#                        <img class="img-responsive" src="https://theinspirationgrid.com/app/uploads/2019/05/illustration-spratt-11.jpg" alt="Image">#}
{#                    </div><!--/ col-md-8 -->#}
{#                    <div class="col-md-4 modal-meta">#}
{#                        <div class="modal-meta-top">#}
{#                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">#}
{#                                <span aria-hidden="true">×</span><span class="sr-only">Close</span>#}
{#                            </button><!--/ button -->#}
{#                            <div class="img-poster clearfix">#}
{#                                <a href=""><img class="img-responsive img-circle" src="https://static.thenounproject.com/png/192838-200.png" alt="Image"></a>#}
{#                                <strong><a href="">Benjamin</a></strong>#}
{#                                <span>12 minutes ago</span><br>#}
{#                                <a href="" class="kafe kafe-btn-mint-small"><i class="fa fa-check-square"></i></a>#}
{#                            </div><!--/ img-poster -->#}
{##}
{#                            <ul class="img-comment-list">#}
{#                                <li>#}
{#                                    <div class="comment-img">#}
{#                                        <img src="https://static.thenounproject.com/png/192838-200.png" class="img-responsive img-circle" alt="Image">#}
{#                                    </div>#}
{#                                    <div class="comment-text">#}
{#                                        <strong><a href="">Anthony McCartney</a></strong>#}
{#                                        <p>Hello this is a test comment.</p> <span class="date sub-text">on December 5th, 2016</span>#}
{#                                    </div>#}
{#                                </li><!--/ li -->#}
{#                                <li>#}
{#                                    <div class="comment-img">#}
{#                                        <img src="https://static.thenounproject.com/png/192838-200.png" class="img-responsive img-circle" alt="Image">#}
{#                                    </div>#}
{#                                    <div class="comment-text">#}
{#                                        <strong><a href="">Vanessa Wells</a></strong>#}
{#                                        <p>Hello this is a test comment and this comment is particularly very long and it goes on and on and on.</p> <span>on December 5th, 2016</span>#}
{#                                    </div>#}
{#                                </li><!--/ li -->#}
{#                                <li>#}
{#                                    <div class="comment-img">#}
{#                                        <img src="https://static.thenounproject.com/png/192838-200.png" class="img-responsive img-circle" alt="Image">#}
{#                                    </div>#}
{#                                    <div class="comment-text">#}
{#                                        <strong><a href="">Sean Coleman</a></strong>#}
{#                                        <p class="">Hello this is a test comment.</p> <span class="date sub-text">on December 5th, 2016</span>#}
{#                                    </div>#}
{#                                </li><!--/ li -->#}
{#                                <li>#}
{#                                    <div class="comment-img">#}
{#                                        <img src="https://static.thenounproject.com/png/192838-200.png" class="img-responsive img-circle" alt="Image">#}
{#                                    </div>#}
{#                                    <div class="comment-text">#}
{#                                        <strong><a href="">Anna Morgan</a></strong>#}
{#                                        <p class="">Hello this is a test comment.</p> <span class="date sub-text">on December 5th, 2016</span>#}
{#                                    </div>#}
{#                                </li><!--/ li -->#}
{#                                <li>#}
{#                                    <div class="comment-img">#}
{#                                        <img src="https://static.thenounproject.com/png/192838-200.png" class="img-responsive img-circle" alt="Image">#}
{#                                    </div>#}
{#                                    <div class="comment-text">#}
{#                                        <strong><a href="">Allison Fowler</a></strong>#}
{#                                        <p class="">Hello this is a test comment.</p> <span class="date sub-text">on December 5th, 2016</span>#}
{#                                    </div>#}
{#                                </li><!--/ li -->#}
{#                            </ul><!--/ comment-list -->#}
{##}
{#                            <div class="modal-meta-bottom">#}
{#                                <ul>#}
{#                                    <li><a class="modal-like" href="#"><i class="fa fa-heart"></i></a><span class="modal-one"> 786,286</span> |#}
{#                                        <a class="modal-comment" href="#"><i class="fa fa-comments"></i></a><span> 786,286</span> </li>#}
{#                                    <li>#}
{#			   <span class="thumb-xs">#}
{#				<img class="img-responsive img-circle" src="https://img.kpopmap.com/2018/10/seo-eunsu-profile-250.jpg" alt="...">#}
{#			   </span>#}
{#                                        <div class="comment-body">#}
{#                                            <input class="form-control input-sm" type="text" placeholder="Write your comment...">#}
{#                                        </div><!--/ comment-body -->#}
{#                                    </li>#}
{#                                </ul>#}
{#                            </div><!--/ modal-meta-bottom -->#}
{##}
{#                        </div><!--/ modal-meta-top -->#}
{#                    </div><!--/ col-md-4 -->#}
{##}
{#                </div><!--/ row -->#}
{#            </div><!--/ modal-body -->#}
{##}
{#        </div><!--/ modal-content -->#}
{#    </div><!--/ modal-dialog -->#}
{#</div>#}

<!-- ==============================================
 Scripts
 =============================================== -->


<footer>
        <script src="{% static "/js/jquery.min.js" %}"></script>
        <script src="{% static "/js/jquery.slimscroll.js" %}"></script>

    <script src="{% static "/js/bootstrap.js" %}"></script>
    <script>
    $('#Slim,#Slim2').slimScroll({
        height:"auto",
        position: 'right',
        railVisible: true,
        alwaysVisible: true,
        size:"8px",
    });
</script>


</footer>
</body>
</html>