<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-140053569-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-140053569-2');
</script>
    {% load staticfiles %}
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="SHORTCUT ICON" href="{% static "/image/favicon.ico" %}"/>
        <link href="{% static "css/bootstrap.css" %}" rel="stylesheet" type="text/css"/>
    <link href="{% static "css/mdui.min.css" %}" rel = "stylesheet" type="text/css" >
    <link href="{% static "css/main.css" %}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="{% static "css/post.css" %}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>#Intrigued</title>
</head>

<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top" style="padding: 0px;position: fixed">
    <a class="navbar-brand" href="/">&emsp;#Intrigued</a>
    <button class="navbar-toggler order-12" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav" style="margin-left: 10px">
            <li class="nav-item">
                <a class="nav-link" href="/#hot">Hot Topic</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/#discuss">Discuss</a>
            </li>
        </ul>
    </div>

    <div class="global-nav-user">
        {% if user.is_authenticated %}
            <a style="color: white" href="/user">{{ user.username }}</a>
            <a href="/user/logout/?next=/" style="color: white; padding-left: 10px">LogOut</a>
        {% else %}
            <a href="/user/login/" style="color: white">LogIn</a>
        {% endif %}
    </div>
</nav>
<div class="container-fluid" style="margin-top: 80px; width:100%;padding-bottom: 20px">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
            <button type=”button” class= "btn" style="font-size: 30px; background-color: transparent;" onclick="location.replace(document.referrer)">
                <i class="fas fa-angle-double-left" style="float: left;padding:0; color: black;"></i>
            </button>
        </div>
    </div>

    <div class="row justify-content-center" style="margin-top: 5px;">
        <div class="col-12 col-lg-8">
            <div class="post-content">
                <img src="{{ post.user.userext.profile.url }}" class="rounded-circle" style="width: 50px;height: 50px;">
                <span style="font-family: Calibri; font-size: 20px;color: #000a44; font-weight: bold;padding-left: 5px">{{ post.user.userext.nickName }}</span>
                <br>
                <div style="margin-top: 10px">
                    {{ post.content }}
                </div>
                <br>
                {% if post.image.all %}
                    <img style="max-width: 100%;" src="{{ post.image.all.0.image.url }}">
                {% endif %}
            </div>
        </div>
    </div>
    
    <div class="row justify-content-center" style="float: bottom; margin-top: 10px">
        <div class="col-12 col-lg-8">
            {% if post.user == user %}

                <button type="button" pid="{{ post.id }}" class="btn btn-light float-right" style="font-size:20px;border-color: #ced4da; background-color: #ced4da; color: black; width: 15%;float: right" id="dp">Delete</button>
            {% endif %}
            <button type="button" {% if user in post.like.all %}
                                    liked = 1
                                    {% else %}
                                    liked = 0
                                    {% endif %} class="btn btn-light{% if user in post.like.all %}
            liked
            {% endif %}" pid="{{ post.id }}" id="post-like" style="font-size:20px;border-color: #ced4da; background-color: #ced4da; color: black; width: 15%;float: right">Like
                <span tp="post" cnt="{{ post.like.all|length }}">
                                {% if post.like.all|length %}
                                    {{ post.like.all|length }}
                                {% else %}
                                    <i class="fab fa-angellist"></i>
                                {% endif %}
                            </span></button>
        </div>
    </div>
</div>
{% if post.commentable %}
<div class="container-fluid" style="margin-top: 10px; width:100%;padding-bottom: 20px">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
            <div class="post-content" style="padding:20px">
                <h3 > Add Comment... </h3>
                <div class="box">
                    <form method="post">
                        <input value="{{post.id}}" type="hidden">
                        <textarea id="create-text" name="content" class="text-muted font-weight-bold text-createDis"  placeholder="Say something"></textarea>
                        <div class="content-createDis-btn">
                            <button type="button" id="create"  class="btn btn-primary content-createDis-btn-publish" type="submit" style="float: right">Publish</button>

                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" style="margin-top: 30px; width:100%;padding-bottom: 20px">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
            <div class="post-content">
                {% if post.comments.all|length == 0 %}
                    <h3 style="text-align: center">no comments yet.</h3>
                {% endif %}
                {% for comment in post.comments.all %}
                    <div style="margin: 15px 10px;padding: 10px 10px; border-top:gray dashed 3px;">
                    <img class="rounded-circle" src = "{{ comment.user.userext.profile.url }}" style="width: 50px;height: 50px;"/>
                    <span style="font-family: Calibri; font-size: 20px;color: #000a44; font-weight: bold;padding-left: 5px">{{ comment.user.userext.nickName }}</span>
                    <br>
                    <div style="margin: 10px 0" id = "{{ comment.id }}"> {{ comment.content }} </div>


{#                    <div class="likeNum d-inline-block" style="vertical-align: bottom" > {{ comment.like.all|length }} </div><span> people liked this.</span>#}

                    <div style="float: right;margin-right: 5px;margin-bottom: 10px">
                        {% if user.is_authenticated %}
                            {% if comment.user == user %}
                                <button type="button" cid="{{ comment.id }}" class="btn btn-light float-right cp" style="font-size:20px;border-color: #ced4da; background-color: #ced4da; color: black; width: 70px;margin: -12px 0 0 0;float: right">Delete</button>
                                {% else %}
                                <button type="button" {% if user in comment.like.all %}
                                    liked = 1
                                    {% else %}
                                    liked = 0
                                    {% endif %} class="btn btn-light comment-like{% if user in comment.like.all %}
            liked
            {% endif %}" cid="{{ comment.id }}"
                                    style="font-size:20px;border-color: #ced4da; background-color: #ced4da; color: black; width: 70px;margin: -12px 0 0 0;">
                                Like<span tp="comment" oid="{{ comment.id }}" cnt="{{ comment.like.all|length }}">
                                {% if comment.like.all|length %}
                                    {{ comment.like.all|length }}
                                {% else %}
                                    <i class="fab fa-angellist"></i>
                                {% endif %}
                            </span>
                            </button>
                                {% endif %}


                        {% endif %}
                    </div>
                    </div>

                {% endfor %}
                <div class="data" thisId="{{ comment.id }}"/>
            </div>
        </div>
    </div>
</div>

{% else %}
    <div class="container">
        <div class="row">
            <div class="col-12 text-center"><h4>comment is disabled.</h4></div>
        </div>
    </div>
{% endif %}

</body>

<footer>
    <script src="{% static "/js/jquery.min.js" %}"></script>
    <script src="{% static "/js/bootstrap.js" %}"></script>
    <script src="{% static "/js/popper.min.js" %}"></script>
    <script src="{% static "/js/post.js" %}"></script>
</footer>