
{% extends "major.html" %}
{% load static %}
{% block style %}
    <link href="{% static "css/signin.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container-fluid">
    <div class="row  justify-content-center">
        <div class="col-12 col-lg-7" style="margin-top: 80px; background-color: rgba(225,219,224,0.6); border-radius: 5px;">
            <form class="form-signin" method="post">
            <h2 style="margin:20px auto;">Register</h2>
            {% if form.errors %}
                {{ form.errors }}
            {% endif %}
            <h5>School Email</h5>
                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            <h5>Set Username</h5>
                <label for="inputUsername" class="sr-only">Username</label>
                <input type="text" name="username" id="inputUsername" class="form-control" placeholder="Username" required>
            <h5>Set Password</h5>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" name="password1" id="inputPassword" class="form-control" placeholder="Password" required>
            <h5>Check Password</h5>
                <label for="checkPassword" class="sr-only">Password</label>
                <input type="password" name="password2" id="checkPassword" class="form-control" placeholder="Password Again" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>
        </div>
    </div>
    </div>
<script src="{% static "/js/jquery.min.js" %}"></script>

<script>
    $('button').click(function (e) {
        if (!$("#inputEmail").val().endsWith('xjtlu.edu.cn')){
            e.preventDefault();
            alert("Please Use XJTLU mail")
        }
    });

</script>
      <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
{#    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>#}
{% endblock %}