{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-140053569-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-140053569-2');
</script>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ==============================================
	Title and Meta Tags
	=============================================== -->
    <meta charset="UTF-8">
    <title>Intrigued SettingsPage</title>
    <meta name='viewport' content='width=device-width'>
    <!-- ==============================================
	CSS
	=============================================== -->
    <link type="text/css" href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <link type="text/css" href="{% static "css/settingspage.css" %}" rel="stylesheet">

</head>
<body>

     <!-- ==============================================
     Navigation First Section
     =============================================== -->
<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top" style="margin-bottom: 0;padding: 0px">
    <a class="navbar-brand" href="/">&emsp;#Intrigued</a>
    <button class="navbar-toggler order-12" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav" style="margin-left: 10px">
            <li class="nav-item">
                <a class="nav-link" href="/#hot">Hot Topic</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/#discuss">Discuss</a>
            </li>
        </ul>

    </div>

    <div class="global-nav-user">
        {% if user.is_authenticated %}
            <a id="username" href="/user">{{ user.username }}</a>
            <a href="/user/logout/?next=/" style="color: white; padding-left: 10px">LogOut</a>
        {% else %}
            <a href="/user/login/" style="color: white">Login</a>
        {% endif %}
    </div>
</nav>

	 <!-- ==============================================
	 Profile Section
	 =============================================== -->
     <section class="profile">
             <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <div class="profilebox hidden-xs hidden-sm" style="background: linear-gradient( rgba(34,34,34,0.45), rgba(34,34,34,0.45)), url('{% static "image/illustration-henn-kim-12.webp" %}') no-repeat;
		          background-size: cover;
                  background-position: center center;
                  -webkit-background-size: cover;
                  -moz-background-size: cover;
                  -o-background-size: cover;">
                </div>
                <div class="profilebox hidden-xs hidden-sm" style="background: linear-gradient( rgba(34,34,34,0.45), rgba(34,34,34,0.45)), url('{% static "image/illustration-martin-ansin-feature.webp" %}') no-repeat;
		          background-size: cover;
                  background-position: center center;
                  -webkit-background-size: cover;
                  -moz-background-size: cover;
                  -o-background-size: cover;">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="profilebox-large hidden-xs hidden-sm" style="background: linear-gradient( rgba(34,34,34,0.45), rgba(34,34,34,0.45)), url('{% static "image/Microsoft_DannySchlitz_New_Illustration_vinyl.png" %}') no-repeat;
		          background-size: cover;
                  background-position: center center;
                  -webkit-background-size: cover;
                  -moz-background-size: cover;
                  -o-background-size: cover;">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="profilebox hidden-xs hidden-sm" style="background: linear-gradient( rgba(34,34,34,0.45), rgba(34,34,34,0.45)), url('{% static "image/art-lobulo-studio-feature.webp" %}') no-repeat;
		          background-size: cover;
                  background-position: center center;
                  -webkit-background-size: cover;
                  -moz-background-size: cover;
                  -o-background-size: cover;">
                </div>
                <div class="profilebox" style="background: linear-gradient( rgba(34,34,34,0.45), rgba(34,34,34,0.45)), url('{% static "image/design-sva-10.webp" %}') no-repeat;
		          background-size: cover;
                  background-position: center center;
                  -webkit-background-size: cover;
                  -moz-background-size: cover;
                  -o-background-size: cover;">
                </div>
            </div>
        </div><!--/ row-->
    </div><!--/ container -->
     </section>

     <!-- ==============================================
	 UserProfile Section
	 =============================================== -->
     <section class="user-profile">
         <div class="container-fluid">
             <div class="row">
	    <div class="col-lg-12">
		   <div class="post-content">
		    <div class="author-post text-center">
		                             <a id="changep"><img class="img-fluid img-circle" style="background: white" src="
                            {{ user.userext.profile.url }}
                        " alt="Image"></a>
                                        <form class="hidden" method="post" enctype="multipart/form-data" action="/user/changea/">
                            <input id="pfinput" name="profile" type="file" accept="image/jpeg,image/png">
                        </form>
		    </div><!-- /author -->
		   </div><!-- /.post-content -->
		</div><!-- /col-sm-12 -->
       </div><!--/ row-->
	  </div><!--/ container -->
     </section>

     <!-- ==============================================
	 Settings Section
	 =============================================== -->
	  <section class="details" style="padding-bottom: 40px">
          <div class="container">
	   <div class="row">
	    <div class="col-lg-12">
          <div class="details-box row">
		   <div class="col-lg-9">
           <div class="content-box">
			   <h4> Change Settings </h4>

               <h5>To replace the avatar, click your avatar.</h5>
{#                <button style="padding: 15px 10px 10px 10px; color:  #262626; font-size: 20px" href="" class="avatarbtn" type="button"></button>#}
		   </div><!--/ media -->
			   <form method="post">
			   <div class = "name">
                 <aside class="head">
                 <label for="pepName">Nickname</label>
				 </aside>
				   <div class="tail">
					   <input class="tail" aria-required="false" name="nick" id="pepName" type="text" value="{{ user.userext.nickName }}" minlength="2" maxlength="10">
				   </div>
			   </div>
                   <div style="border: gray 2px dashed;padding: 20px;">
                       {% if msg %}
                            {{ msg }}
                       {% endif %}
                       <h5>Change Password</h5>
                       <div class = "name">
                 <aside class="head">
                 <label for="pepoldpas">Old password</label>
				 </aside>
				   <div class="tail">
					   <input class="tail" aria-required="false" id="pepoldpas" name="op" type="password" value="" placeholder="leave blank to unchange">
				   </div>

			   </div>
					   <div class = "name">
                 <aside class="head">
                 <label for="pepnewpass">New password</label>
				 </aside>
				   <div class="tail">
					   <input class="tail" aria-required="false" id="pepnewpass" name="np" type="password" value="" placeholder="leave blank to unchange">
				   </div>
			   </div>
                   </div>

				   <div class="content-box" style="padding: 10px 40px 10px 30px">
					    <button style = "font-size: 20px; border: 1px solid; border-color: #f73d93; padding: 10px 30px 10px 30px" href="#" class="avatarbtn" type="submit"> Submit </button>
				   </div>
			   </form>
		   </div>
          </div><!--/ details-box -->
		</div>
	   </div>
	  </div><!--/ container -->
     </section>
        <script src="{% static "/js/jquery.min.js" %}"></script>
    <script>
        $('#changep').click(function () {
            $('#pfinput').click();
        });
        $('#pfinput').change(function () {
            if ($(this).val()){
                var f = $('form')[0];
                f.submit();
            }
        })
    </script>

</body>
</html>