{% extends "major.html" %}
{% load static %}

{% block style %}
    <link href="{% static "css/signin.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container-fluid">
    <div class="row  justify-content-center">
        <div class="col-12 col-lg-7" style="margin-top: 80px; background-color: rgba(225,219,224,0.6); border-radius: 5px;">
            <form class="form-signin" method="post">
                <h2 style="margin:20px auto;">Sign In</h2>
                {% if msg %}
                    {{ msg }}
                {% endif %}
                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="text" name="username" id="inputEmail" class="form-control" placeholder="Username" required autofocus>

                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me" checked> <span style="font-size: 16px;" >Remember me </span>
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                <a href="/user/register/">
                    <button class="btn btn-lg btn-primary btn-block" type="button">Register</button>
                </a>
            </form>
        </div>
    </div>
    </div>


{% endblock %}